<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <%- include('../nav.ejs') %>

    <h2>Hi <%= name %></h2>
    
    <div>الكورسات التي تم الاشتراك بها</div>
    
    <div id="container">

        <% courses.map(course=>{ %>
            
            <section id="courses">
                
                <div>
                    <%= course.title %>
                </div>
                
                <!-- <div id="lessons_show"><a href="https://mr-ahmed-ghareeb.cyclic.app/profile/<%= course.id %>">الدروس</a></div> -->
                <div id="lessons_show"><a href="http://localhost:8080/profile/<%= course.id %>">الدروس</a></div>
              
            
            
            </section>
            <br><br>
            <% }) %>
    </div>
            <script>
            let x=document.querySelector('.nav__link')
            
            x.innerHTML+='<a href="/logout">  تسجيل الخروج</a></li>'
            </script>
            <script src="js/main.js"></script></script>
    </body>
</html>