<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>coursesDashboard</title>
</head>
<body>
    <h1>اضافة مادة جديدة</h1>
    <form action="/courses/new" method="Post">
        <div class="form-container">
            <div>
                <label for="title">اسم المادة</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">التيرم</label>
                <select name="description" id="description">
                    <option >التيرم الاول</option>
                    <option >التيرم التاني</option>
                </select>
            </div>
        </div>
        <button type="submit">اضافة</button>
    </form>
    <h1>المواد</h1>
    <table style="border:1px black solid">
        <% courses.map(course=>{ %>
            <tr>
                <td>
                <%= course.title %>
                </td>
                <td>
                    <%= course.description %>

                </td>
                <td>
                    <form action="/lessons/<%= course.id %>" method="get">
                        <button type="submit" >الدروس  </button>
                    </form>
                </td>
                <td>
                    <form action="/courses/delete/<%= course.id %>?_method=Delete" method="post">
                        <button type="submit" id="delete">حذف</button>
                    </form>
                </td>
                <td>
                    <form action="/courses/update/<%= course.id %>" method="get">
                        <button type="submit">تعديل</button>
                    </form>
                </td>
            </tr>
        <% })%>
    </table>
</body>
</html>