<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>coursesLessons</title>
</head>
<body>
    <%- include('../nav.ejs') %>
    <h1>اضافة درس جديد</h1>
    <form action="/lessons/new/<%= id %>" method="post" class="dashf">

        <div class="form-container">
            <div>
                <label for="title">عنوان الدرس</label>
                <input type="text" id="title" name="title" placeholder="اكتب عنوان الدرس" required>
            </div>


    
            <div>
                <label for="content" >رقم الدرس</label>
                <input name="lessonNumber" id="lessonNumber"  placeholder="قم بكتابة رقم الدرس" required>
            </div>

        </div>
        <button type="submit" id="submit">اضافة</button>
    </form>
    <hr>
    <h1>دروس <%=title%>  </h1>

    <% lessons.map(lesson=>{ %>
 
        <div class="lessons">

            <h3 id=""><%= lesson.title %></h2>
                <a href="lessonUpload/<%= lesson.id%>" id="lessons_show">رفع فيديو الدرس</a>
                <form action="/lessons/delete/<%= lesson.id %>?_method=Delete" method="post" style="margin-bottom:25px;">
                    <button type="submit" id="delete">حدف الدرس</button>
                </form>
                
        </div>
    <% })%>



    <script src="js/main.js"></script></script>

   
</body>
</html>