<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>usersDashboard</title>

</head>
<body>
    <form action="/users/new" method="post" class="dashf">
        <div class="form-container">
            <div>
                <label for="name">الاسم </label>
                <input type="name" id="name" name="name" required>
            </div>
        
            <div>
                <label for="email">الايميل</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">كلمة المرور</label>
                <input type="password" id="password" name="password" required min="8" >
            </div>
            <div>
                <label for="role">نوع المستخدم</label>
                <select name="role" id="role">
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
            </div>
            <div>
                <label for="course">اسم الكورس</label>
                <select name="course" id="course">
                    <% names.map(name=>{ %>
                        <option> <%= name.title %></option>
                        
                        <% }) %>
                        <option >none</option>
                </select>
            </div>


                <button type="submit">اضافة</button>


        </div>
    </form>

    <table class="userstable">
        <th>
            name
        </th>
        <th>
            email
        </th>

        <th>
            role
        </th>
        <th>
            course
        </th>
        <th>
            user registeration date
        </th>

        <th>
             Delete user
        </th>
        <th>
             Edit user
        </th>


        <% users.map(user=>{ %>
            </th>
            <tr>
                <td>
                <%= user.name %>
                </td>
                <td>
                    <%= user.email %>
                </td>
              
                <td>
                    <%= user.role %>

                </td>
                <td>
                    <%= user.courses %>
                </td>
                <td>
                    <%= user.createdAt.toLocaleDateString() %>
                </td>
               
                <td>
                    <form action="/users/<%= user.id %>?_method=Delete" method="post">
                        <button type="submit" id="delete">حذف</button>
                    </form>
                </td>
                <td>
                    <form action="/users/<%= user.id %>" method="get">
                        <button type="submit">تعديل</button>
                    </form>
                </td>
            </tr>
        
        <% })%>
        
    </table>
</body>
</html>