<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>courses</title>
</head>
<body> 
    <%- include('nav.ejs') %>

    <h1>الكورسات الموجودة علي الموقع</h1>
    <div id="container">

        <% courses.map(course=>{ %>
            <section id="courses">
            
                <div><%= course.title %></div>
                <div>  <%= course.description %></div>
                <div><%= course.price/100 %>$</div>
                
                
                <a  id="lessons_show" href="/lessons/show/<%= course.id %>"> اسماء الدروس</a>
                <a href="/howToBuy">
                    <button  class="buy" id="<%= course.id %>">
                        اشترك في الكورس
                    </button>
                </a>
                
                
            </section>
            <br><br>
        <% })%>
    </div>
    <script src="js/main.js"></script></script>
    <!-- <script src="js/script.js"></script></script> -->

</body>
</html>