
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title><%= lesson.title %></title>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <br />
    <h1><%= lesson.title %></h1>
    <br /><br />

    <!-- video sources -->
    <!-- <% if (lesson.source === 'youtube') { %> -->
      <!-- <iframe
        style="width: 66vw; height: 60vh; border: none"
        src="<%= lesson.video %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe> -->
    <!-- <% } else if (lesson.source === 'mux') { %> -->
      <!-- <iframe
        src="https://player.mux.com/<%= lesson.video %>"
        style="width: 100%; border: none; aspect-ratio: 16/9"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen
      ></iframe> -->
    <!-- <% } else if (lesson.source === 'cloudinary') { %> -->
      <iframe
        src="https://player.cloudinary.com/embed/?cloud_name=druwl8dww&public_id=<%= lesson.video %>&profile=cld-default"
        style="width: 66vw; height: 60vh"
        allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
        allowfullscreen
        frameborder="0"
      ></iframe>
    <!-- <% } %> -->

    <script src="../js/main.js"></script>
  </body>
</html>











<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title><%=lesson.title%></title>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <br />
    <h1><%=lesson.title%></h1>
    <br /><br />

    <!-- for youtube videos -->
    <% if (lesson.source ==='youtube') { %>

    <!-- <iframe
      style="width: 66vw; height: 60vh; border: none"
      src="<%= lesson.video %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe> -->
    <% } %> <% else if (lesson.source ==='mux') { %>
    <!-- for mux video -->
    <!-- <iframe
    src="https://player.mux.com/LYpJZgRe02Kh1H6EZmuOucZQh1TySbsF3BQ3nqH2ZwMs"
    style="width: 100%; border: none; aspect-ratio: 30/53"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen
    ></iframe> -->

    <% } %> <% else if (lesson.source ==='cloudinary') { %>
    <!-- for cloudinary videos -->
    <iframe
      src="https://player.cloudinary.com/embed/?cloud_name=druwl8dww&public_id=<%= lesson.video%>&profile=cld-default"
      style="width: 66vw; height: 60vh"
      allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
      allowfullscreen
      frameborder="0"
    ></iframe>
    <% } %>

    <script src="../js/main.js"></script>
  </body>
</html> -->
