<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>update user</title>
</head>
<body>
    <h1>تعديل بيانات المستخدم</h1>
    <form action="/users/<%=id%>?_method=patch" method="post">
        <div>
            <label for="name">الاسم </label>
            <input type="name" id="name" name="name" value="<%= user.name %>" required>
        </div>
    
        <div>
            <label for="email">الايميل</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <div>
            <label for="password">كلمة المرور</label>
            <input type="text" id="password" name="password" value="<%= user.password %>" required>
        </div>
        <div>
            <label for="role">نوع المستخدم</label>
            <select name="role" id="role">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <div>

            <label for="course">اسم الكورس</label>
            <select name="course" id="course">
                <% names.map(name=>{ %>
                    <option> <%= name.title %></option>
                    
                    <% }) %>
                </select>
        </div>
    
        <button type="submit">حفظ</button>
        
    </form>
</body>
</html>