<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses Dashboard</title>
    <style>
        body,html{
            height: 100%;
            margin: 0px;
            padding: 0px;
            /* background-color: orange; */
        }
        td ,tr{
            border: 1px black solid;
        }

    </style>
</head>
<body>
    <h1>Add new course</h1>
    <form action="/courses/new" method="Post">

        <div>
            <label for="title">title</label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="description">description</label>
            <input type="text" id="description" name="description">
        </div>

        <button type="submit">create</button>
    </form>
    <h1>our courses</h1>
    <table style="border:1px black solid">
        <% courses.map(course=>{ %>
            <tr>
                <td>
                <%= course.title %>
                </td>
                <td>
                    <%= course.description %>

                </td>
                <td>
                    <a href="/lessons/<%= course.id %>">lessons</a>

                </td>
                <td>
                    <form action="/courses/delete/<%= course.id %>?_method=Delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/courses/update/<%= course.id %>" method="get">
                        <button type="submit">update</button>
                    </form>
                </td>
            </tr>
        
        <% })%>
        
    </table>

</body>
</html>